<nav class="guest-navbar" [class.is-scrolled]="scrolled()">
    <div class="gn-container container">
        
        <!-- Brand Identity -->
        <div class="gn-brand" routerLink="/cliente/home">
            <span class="gn-logo-txt">CHIFA <span class="text-accent">LINDA</span></span>
        </div>
        
        <!-- Core Navigation -->
        <div class="gn-links">
            <a routerLink="/cliente/home" routerLinkActive="is-active">INICIO</a>
            <a routerLink="/cliente/menu" routerLinkActive="is-active">CARTA</a>
            <a routerLink="/cliente/reservas" routerLinkActive="is-active">RESERVAS</a>
            <a *ngIf="isLoggedIn()" routerLink="/cliente/mis-reservas" routerLinkActive="is-active">MIS PEDIDOS</a>
            <a routerLink="/cliente/resenas" routerLinkActive="is-active">RESEÑAS</a>
            <a routerLink="/cliente/contacto" routerLinkActive="is-active">CONTACTO</a>
        </div>
        
        <!-- Utility Actions -->
        <div class="gn-actions">

            <div class="gn-auth-portal">
                <ng-container *ngIf="!isLoggedIn(); else userPortal">
                    <button class="btn btn-primary btn-sm glass-btn" routerLink="/auth/login">INGRESAR</button>
                </ng-container>
                <ng-template #userPortal>
                    <div class="gn-user-pill">
                        <div class="gn-user-avatar">{{ userName().charAt(0) }}</div>
                        <button class="btn-logout-minimal" (click)="logout()" title="Cerrar Sesión">
                           <svg viewBox="0 0 24 24" width="16" height="16" fill="none" stroke="currentColor" stroke-width="3"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" y1="12" x2="9" y2="12"/></svg>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</nav>
